---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<nav class="flex gap-4 justify-center p-4 bg-amber-300">
			<a href="/">Main</a>
			<a href="/about/">About</a>
			<a href="/blog/">Blog</a>

			<a href="/posts/post-1/">Post 1</a>
			<a href="/posts/post-2/">Post 2</a>
			<a href="/posts/post-3/">Post 3</a>
		</nav>
		<main class="flex flex-col text-2xl gap-3">
			<slot/>
		</main>
	</body>
</html>

